.contact-page-container {
    background-color: $off-white;
    color: $dk-green;
    padding-bottom: 2.75rem;

    .contact-page-wrapper{
        max-width: 1600px;
        margin: 0 auto;

        .header-banner{
            text-align: center;
        }
    }
    
}

