.dashboard-page {
    h1, h2, h3 p, a {
        color: $dk-green;
        line-height: 1.5;
    }


    .side-bar-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 1rem 0 1rem;
        padding: 0.5rem 1rem;
        background-color: $yellow;
        border-radius: 0.5rem;

        .arrow-btn-icon {
            fill: $dk-green;
        }
    }

    .dashboard-sidebar {
        background-color: $lt-blue;
        margin: 0 1rem 1rem 1rem;
        border-radius: 0.5rem;
        display: none;

        h2 {
            color: $off-white;
            padding: 0.5rem 1rem;
            background-color: $dk-blue;
            font-size: 1.5rem;
            border-radius: 0.5rem;

        }

        .sidebar-icon {
            color: $off-white;
            display: flex;
            justify-content: left;
            padding: 1rem;
            border-bottom: 1px solid $off-white;

            p {
                padding-left: 1rem;
                font-size: 1.2rem;
            }

        }

        a:hover {
            background-color: $dk-blue;
        }
    }

    .dashboard-cards {
        .user-profile {
            margin: 1rem 0;
            padding: 1rem;
            img {
                border-radius: 50%;
                padding: 1rem;
                margin: 0 auto;
            }

            h2 {
                text-align: center;
            }

            p {
                color: $dk-green;
                padding-bottom: 0.5rem;
                line-height: 1.5;
                
            }

            .edit-btn {
                margin-top: 1rem;
                margin-bottom: 1rem;
                a {
                    padding: 0.5rem 1rem;
                    background-color: $lt-blue;
                    border-radius: 1rem;
                    color: $off-white;
                }
                a:hover {
                    background-color: $dk-blue;
                }
            }

        }

        .user-courses {
            margin: 2rem 1rem;

            h3 {
                color: $dk-green;
            }
            
            th, td, p {
                color: $off-white;
            }
            table {
                display: none;
            }
            
        }

        .course-history-list {
            .course-history-detail{
                padding: 1rem;
                border-radius: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                background-color: $lt-green;
                div {
                    display: flex;
                    justify-content: space-between;
                    p {
                        width: 50%;
                        a {
                            text-transform: capitalize;
                            font-weight: none;
                            color: $off-white;
                        }
                    }

                    
                }
            }
          
        }
    }

}

@media only screen and (min-width: 768px) {
    .dashboard-page  {
        .dashboard-cards {
            .user-courses {
                h3 {
                    padding: 1rem;
                    text-align: center;
                }


                 td, th {
                    padding: 0.5rem;
                }
                table {
                    display: block;
                    padding: 1rem;
                    margin: 0 auto;
                    background-color: $lt-green;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                    border-radius: 0.5rem;
                    tr{
                        td {
                            a{
                                text-transform: capitalize;
                                font-weight: none;
                                color: $off-white;
                            }

                            a:hover {
                                color: $dk-green;
                            }
                        }
                    } 
                }

                .course-history-list {
                    display: none;
                   
                 }

                
            }
            
        }
    }
}

@media only screen and (min-width: 1024px) {
    .dashboard-page  {
        display: flex;
        justify-content: space-between;
        .side-bar-button {
            display: none;
        }

        .dashboard-sidebar {
            margin-top: 2rem;
            display: block;
            width: 40%;

        }

        .dashboard-cards {
            width: 60%;
            .user-profile {
                img {
                    width: 30%;
                }
            }

            .user-courses {
                td, th {
                    padding: 0.5rem;
                }
            }
        }

    }
}

@media only screen and (min-width: 1200px) {
    .dashboard-page {
        justify-content: center;
        .dashboard-sidebar {
            width: 30%;

        }

        .dashboard-cards {
            width: 55%;

            .user-courses {
                td, th {
                    padding: 0.5rem 1.5rem;
                }
            }
        }
    }

}

@media only screen and (min-width: 1600px){
    .dashboard-page {
        justify-content: start;
        max-width: 1600px;
        margin: 0 auto;
        .dashboard-sidebar {
            width: 20%;

        }

        .dashboard-cards {
            width: 70%;
            margin-left: 5rem;
            .user-courses {
                td, th {
                    padding: 0.5rem 3rem;
                }
            }
        }
    }
}