.dashboard-page h1,
.dashboard-page h2,
.dashboard-page h3,
.dashboard-page h4,
.dashboard-page p {
    color: black;
}

.dashboard-page {
    display: flex;
}

aside.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    width: max-content;
    // height: 100vh;
    padding: 1rem;
    background: $lt-blue;

    .sidebar-icon {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        p {
            color: $off-white;
        }

        svg {
            fill: $off-white;
            margin-right: 1rem;
            font-size: 2.95rem;
        }
    }

    .sidebar-icon:hover {
        svg {
            fill: $yellow;
        }

        p {
            color: $yellow;
        }
    }
}

.dashboard-cards {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 80rem;
    margin-left: 1rem;

    .user-courses,
    .user-feedback {
        grid-column: 2 / 3;
    }

    .user-profile {
        grid-row: 1 / 3;
        height: 40rem;
    }

    .user-courses,
    .user-feedback,
    .user-profile {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $dk-blue;
        box-shadow: $box-bevel;
        margin: 1rem;
        position: relative;

        h3, p {
            color: white;
            text-align: center;
        }

        img {
            margin: auto;
            width: 40%;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        button {
            background-color: $lt-blue;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            width: 80%;
            box-shadow: $box-bevel;
            color: white;
            position: absolute;
            left: 10%;
            bottom: 2rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
        }

        button:hover {
            background-color: $yellow;
            color: black;
        }
    }

    .user-courses {
        h3, p {
            text-align: left;
        }
    }
}