.job-detail-page-wrapper {
    h2,h3, p {
        color: $dk-green;
    }

    a {
        color: $off-white;
    }
    .main-container {
        .sidebar {
            margin: 2rem 1rem;
            border-radius: 0.5rem;
            display: none;
            background-color: $lt-blue;
            box-shadow: $box-bevel;
            h2 {
                color: $off-white;
                padding: 0.5rem 1rem;
                background-color: $dk-blue;
                font-size: 1.5rem;
                border-radius: 0.5rem;
            }

            ul{
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    margin: 0;
                    border-bottom: 1px solid $off-white;
                    a {
                        text-transform: none;
                        display: block;
                        padding: 1rem;
                        color: $off-white;


                        h3 {
                            color: $off-white;
                        }

                        p{
                            color: $off-white;
                            font-weight: normal;
                        }
                        
                    }

                    a:hover {
                        background-color: $dk-blue;
                    }
                }
            } 
        }

        .show {
            display: block;
        }
        .event-content {
            padding: 1rem;

            .content-detail {
                padding: 1rem 1rem 2rem 1rem;
                h2 {
                    text-align: center;
                    padding-bottom: 1rem;
                    font-size: 1.5rem;
                }
                p {
                    padding-bottom: 0.5rem;
                }
                p:last-of-type {
                    padding-bottom: 1.5rem;
                }

                a {
                    background-color: $lt-blue;
                    color: $off-white;
                    padding: 0.5rem 1rem;
                    border-radius: 1rem;
                   
                }

                a:hover {
                    background-color: $dk-blue;
                    transition: all 0.3s ease-in-out;
                }

            }
        }
        
    }
    
}

@media only screen and (min-width: 768px){

    .job-detail-page-wrapper {
        .main-container {

            .event-content {
                display: flex;
                justify-content: space-between;
                .event-content-detail{
                    h2 {
                    text-align: left;
                    }
                }
    
            }

        }
        
    }
}

@media only screen and (min-width: 1024px){
    .job-detail-page-wrapper {
        .main-container {
            display: flex;
            justify-content: space-between;
            .sidebar {
                display: block;
                width: 30%;
                height: auto;
            }

            .event-content {
                margin-top: 1rem;
                width: 68%;
                .event-content-detail {
                    width: 68%;
                    h2 {
                        text-align: left;
                    }
                }
            }
        }
    }


}

@media only screen and (min-width: 1400px) {
    .job-detail-page-wrapper {
        .main-container {
            max-width: 1600px;
            margin: 0 auto;
            .sidebar {
                width: 20%;
            }

            .course-content {
                width: 70%;
               
            }
        }
    }
}