.form-wrapper {

    padding: 4rem 0;
    
}

.login-form-container {
    max-width: 25rem;
    margin: 0 auto;
    background-color: $dk-blue;
    color: $off-white;
    border-radius: 2rem;
    padding: 1rem;

    a {
        text-transform: none;
        padding: 0.5rem;
        
        text-decoration: underline;
        text-underline-offset: 0.2rem;
    }

    a:hover {
        color: $lt-blue;
    }

    h1 {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
        
    }

    .form {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        margin-bottom: 2rem;

        input {
            padding: 0.65rem 0 0.65rem 0.5rem;
            border-radius: 0.85rem;
            border: none;
        }

        input:focus {
            outline: none;
        }

        button {
            background-color: $lt-blue;
            color: $off-white;
            padding: 0.5rem 1rem;
            border: 5px solid $off-white;
            border-radius: 1rem;
            transition: all 0.3s ease-in-out;
            margin-top: 2rem;
            cursor: pointer;

            &:hover {
                background-color: $dk-blue;
            }
        }

        label {
            margin-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .error {
            color:$off-white;
        }

        .optional-info {
            display: flex;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;

            input {                    
                margin: 0 0.5rem;
                width: fit-content;
                border-radius: 999px;
            }

            label {
                margin: 0;
                padding: 0;
            }

            a {
                padding: 0.5rem 1rem;
            }
                
        }

        a {
            padding-bottom: 1rem;
        }
    }

}

@media only screen and (min-width: 768px) {
    .login-form-container {
        border: 1px solid $dk-green;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .form {
           .optional-info {
               a {
                padding-left: 2rem;
                padding-right: 0;
               }
               
           } 
        }
    }
}