
.header-wrapper {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: $dk-blue-ol;

    // Navbar Toggle Icon

    .nav-toggle 
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.95rem;
        height: 2.95rem;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        border: 3px solid $yellow;
        border-radius: 50%;
    }

    .nav-btn 
    {
        width: 1.5rem;
        height: 3px;
        background-color: $yellow;
        border-radius: 0.35rem;
        box-shadow: 0 2px 5px rgba(27, 1, 64, 1);
        transition: all 0.5s ease-in-out;
    }
    
    .nav-btn::before,
    .nav-btn::after
    {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 3px;
        background-color: $yellow;
        border-radius: 0.35rem;
        box-shadow: 0 2px 5px rgba(27, 1, 64, 1);
        transition: all 0.5s ease-in-out;
    }
    
    .nav-btn::before 
    {
        transform: translateY(-0.65rem)
    }
    
    .nav-btn::after 
    {
        transform: translateY(0.65rem)
    }

    /* Hamburger Animation */

    .nav-toggle.open .nav-btn {
        transform: translateX(-1.5rem);
        background: transparent;
        box-shadow: none;
    }

    .nav-toggle.open .nav-btn::before {
        transform: rotate(45deg) translate(1rem, -1rem)
    }

    .nav-toggle.open .nav-btn::after {
        transform: rotate(-45deg) translate(1rem, 1rem)
    }

    .logo-container {

        a{
            color: $off-white;
            text-decoration: none;
            cursor: pointer;
            font-family: $title-font;
            
        }
    }

    .cart-icon {
        font-size: 2.95rem;
        color: $yellow;
    }

    .navBar {
        top: 100%;
        left: -100%;
        position: absolute;
        padding: 2rem 0;
        padding-left: 1rem;
        background-color: $dk-blue-ol;
        width: 100%;
        transition: all 0.3s ease-in-out;

        .navLinks {
            margin: 1rem 0;
        }

        a {
            color: $off-white;
            text-decoration: none;
            font-size: 1.45rem;
            font-weight: bold;
            transition: all 0.5s ease-in-out;

            &:hover{
                color: $yellow;
            }
        }
    }

    .show-nav {
        left: 0%;
        width: 105%;
    } 
}

