.post-single-container {

    background-color: $off-white;
    color: $dk-green;
    padding-bottom: 2.75rem;

    .banner {
        padding: 10rem 0 2rem 0;
        margin-bottom: 6rem;
    }

    .header-banner{
        text-align: center;
        margin-bottom: 4rem;
        padding: 1rem;
        text-shadow: $txt-shadow-md;

        h2 {
            margin-bottom: 1rem;
        }
    }

    .post-single-wrapper {

        
        
        margin: 0 auto;
        display: flex;

        .single-container {
            flex: 9;

            .single-wrapper {

                padding: 1rem;
                max-width: 1600px;
                margin: 0 auto;

                .banner {
                    padding: 10rem 0 2rem 0;
                    margin-bottom: 6rem;
                }

                .header-banner{
                    text-align: center;
                    margin-bottom: 4rem;
                    padding: 1rem;
                    text-shadow: $txt-shadow-md;
        
                    h2 {
                        margin-bottom: 1rem;
                    }
                }

                .post-header {
                    .post-img {
                        max-width: 18rem;
                        border-radius: 0.85rem;
                        margin-bottom: 0.85rem;
                    }

                    .single-post-title {
                        padding-bottom: 0.85rem;
                        border-bottom: 1px dotted $dk-green;
                    }

                    .single-post-author {
                        margin-top: 0.85rem;
                    }

                    .single-post-date {
                        margin-top: 0.35rem;
                        font-style: italic;
                        font-weight: lighter;
                    }
                }

                pre {
                    white-space: pre-line;
                    font-family: $primary-font;
                    font-size: 1.25rem;
                }

            }

            
        }
    }
}